.course {
  margin-top: 125px;
  margin-bottom: 100px;
}
.course__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}
.course__column {
  width: 48%;
}
.course__block {
  width: 100%;
  padding: 45px 50px;
  margin-bottom: 60px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 25px 57px 0px rgba(35, 42, 49, 0.1);
  
  .title {
    margin-top: 0;
    text-align: center;
    
    &::before {
      display: none;
    }
  }
}